.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

logs

docker/grafana
docker/loki
docker/mongo
docker/mysql
docker/postgresql
docker/prometheus
docker/promtail
docker/redis
docker/sonar